.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: white;
  float: right;
  width: 80%;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.room-menu {
  text-align: left;
  padding-left: 30px;
  padding-top: 20px;
  float: left;
  width: 18%;
  background-color: 	#E8E8E8;
  min-height: calc(100vh - 20px);
  color: 		#696969;
}

#new-room, #room-list-title{
  display:inline;
  color: 	#696969;
}

#room-list-title{
  color: black;
}

#room-list-title {
  padding-right: 10%;
}

#new-room-field {
  position: fixed;
  text-align:left;
  color: 		#696969;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  border-width: 5px 30px 30px 30px;
  border-color: #F0F0F0;
  border-style: solid;
  background-color: 	#F0F0F0;
}


#cancel-new-rooms, #create-room-button {
  display: inline-block;
  width: 150px;
    height: 40px;
    margin: 5px 5px 5px 5px;
}

#value-field {
  display: block;
  width: 300px;
    height: 40px;
    margin-bottom: 10px;
}

#active-room, #content  {
  text-align:left;
  margin-left: 22%;
}

#active-room {
  margin-top: 0px;
  font-size: 20px;
}

#username {
  font-weight: bold;
  margin-right: 60%;
  text-align: left;
  margin-left: -10%;
  display: inline-block;
}

#time {
  display:inline-block;
  font-style: italic;
}

tr:nth-child(even){
  background-color: grey;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
